.example-spacer {
  flex: 1 1 auto;
}

.sidenav {
width: 250px;
}

mat-sidenav-content {
  height: 100vh;
  border: 3px dashed orange;
}

mat-sidenav-container {
  border: 2px solid red;
  height: 100vh;
}