<h1>Simple Tabs</h1>

<mat-tab-group mat-align-tabs="start" >
 <mat-tab>
  <ng-template mat-tab-label>
   <mat-icon class="tab-icon">settings</mat-icon>
   Settins
  </ng-template>
 </mat-tab>

 <mat-tab>
  <ng-template mat-tab-label>
   <mat-icon class="tab-icon">person</mat-icon>
   Person
  </ng-template>
 </mat-tab>
</mat-tab-group>

<br>

<h1>Tabs - Stretch and Below</h1>

<mat-tab-group animationDuration="500ms"
mat-stretch-tabs>
  <mat-tab>
   <ng-template mat-tab-label>
    <mat-icon class="tab-icon">settings</mat-icon>
    Settins
   </ng-template>
  </mat-tab>

  <mat-tab>
   <ng-template mat-tab-label>
    <mat-icon class="tab-icon">person</mat-icon>
    Person
   </ng-template>
  </mat-tab>
 </mat-tab-group>

 <br>

<h1>Tabs - Color</h1>

<mat-tab-group class="mat-elevation-z4" headerPosition="below"
color="warn" backgroundColor="primary">
  <mat-tab>
   <ng-template mat-tab-label>
    <mat-icon class="tab-icon">settings</mat-icon>
    Settins
   </ng-template>
  </mat-tab>

  <mat-tab>
   <ng-template mat-tab-label>
    <mat-icon class="tab-icon">person</mat-icon>
    Person
   </ng-template>
  </mat-tab>
 </mat-tab-group>